<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>프로젝트상세</title>
  <!-- Favicon-->
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <th:block th:include="/fragments/side-navigation"/>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <th:block th:include="/fragments/heading"/>
    <!-- Page content-->
    <div class="container-fluid" th:object="${project}">
      <div>
        <h3 class="p-3" th:text="'📄 ' + *{projectTitle}" style="display: inline"></h3>
        <span th:text="*{statusCodeName}" style="background-color: rgba(194,227,248,0.98);padding-left: 8px;
          padding-right: 8px;
          border-radius: 15px;">
        </span>
      </div>
      <div class="task-list border-light" style="float: left">
        <table>
          <tr>
            <td><a href="/tasks/create" class="btn-dark">새 업무</a></td>
            <td class="p-3">업무 리스트</td>
          </tr>
          <tr th:each="task : ${tasks}">
            <td><a th:href="@{/projects/{projectId}/tasks/{taskId}(projectId=*{projectSeq},taskId=${task.taskSeq})}" th:text="${task.getTaskTitle()}"></a></td>
          </tr>
        </table>
      </div>
      <div class="project-info" style="float: right; width: 30%">
        <table>
          <tr>
            <h4>소개</h4>
            <td><span th:text="*{projectContent}"></span></td>
          </tr>
          <tr>
            <td>
              <h4>태그</h4>
              <span th:each= "tag : ${tags}" th:text="${tag.getTagName()}"
                    style="background-color: #f8d8dd;
                            margin-right: 10px;
                            padding-left: 8px;
                            padding-right: 8px;
                            border-radius: 15px;" >
              </span>
            </td>
          </tr>
          <tr>
            <td><h4>마일스톤</h4></td>
          </tr>
          <tr th:each="milestone : ${milestones}">
            <td>
              <span th:text="${milestone.getName()}"></span>
            </td>
          </tr>


          <tr>
            <td><h4>프로젝트 맴버</h4></td>
          </tr>
          <tr th:each="member : ${members}" >
            <td><span th:text="${member.getProjectMemberId()}" style="margin-right: 5px"></span>
              <span th:text="${member.getProjectMemberRole()}" style="font-size: 5px"></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
